footer{
    width: 100%;
    font-family: Arial;
    margin-top: 30px;
    /*position: fixed;
    bottom: 0;*/
}

#footerbody{
    background-color: rgba(143, 176, 255, 1);
    border-radius: 100px 100px 0 0;
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
}

.information{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    margin-top: 3%;
}

.contact{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 7%;
}

.footerline{
    width: 100%;
    color: rgba(255, 255, 255, 0);
}

.prava{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rubric{
    font-size: 20px;
    color: aliceblue;
    font-weight: bolder;
}

.simpl_text{
    font-size: 15px;
    color: aliceblue;
    font-weight: lighter;
    margin-top: 7px;
    margin-bottom: 7px;
}

.prava_text{
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
    margin: 5px;
}

a:link{
    text-decoration: none;
    color: green;
}
a:visited{
    text-decoration: none;
    color: green;
}
a:hover{
    text-decoration: none;
    color: yellow;
}
a:active{
    text-decoration: none;
    color: green;
}