.main_body{
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial;
}

#logo_image{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.site_block_title{
    text-align: center;
    margin-bottom: 0;
    color: rgba(143, 176, 255, 1);
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
}

.main_news_line{
    margin-top: 0;
    margin-bottom: 2%;
    width: 95%;
    border: none;
    height: 5px;
    background: rgba(143, 176, 255, 1);
}

.post_conteiner{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(143, 176, 255, 1);
    border-width: 2px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.post_title{
    color: rgba(143, 176, 255, 1);
    font-size: 30px;
    font-stile: normal;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.post_inform{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
}

.post_author{
    margin-left: 2%;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(143, 176, 255, 1);
    font-size: 15px;
}

.post_date{
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(143, 176, 255, 1);
    opacity: 70%;
    font-size: 12px;
}

.form_title{
    color: rgba(143, 176, 255, 1);
    font-size: 20px;
}

#form_title_fill{
    font-size: 25px;
    font-weight: bold;
}