.post_page_container{
    margin-top: 2%;
}

.post_page_title{
    color: rgba(143, 176, 255, 1);
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.post_page_date{
    color: rgba(143, 176, 255, 1);
    opacity: 80%;
    font-size: 15px;
}

.post_page_post{
    color: rgba(143, 176, 255, 1);
    font-size: 20px;
}

.post_page_author{
    color: rgba(143, 176, 255, 1);
    font-size: 20px;
}

.back_title{
    color: green;
    margin-bottom: 0;
    margin-left: 3%;
    padding-top: 2%;
}