.supply_forms_main_title{
    color: rgba(143, 176, 255, 1);
    font-size: 40px;
    margin-left: 3%;
}

.supply_forms_title{
    color: rgba(143, 176, 255, 1);
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 1.5%;
}

.input_field{
    margin-top: 0.5%;
    width: 50%;
    height: 30px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(143, 176, 255, 1);
    border-width: 3px;
}

.input_field_textarea{
    margin-top: 0.5%;
    width: 70%;
    height: 300px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(143, 176, 255, 1);
    border-width: 3px;
}

.supply_forms_button{
    height: 50px;
    width: 20%;
    margin: 3%;
    background-color: rgba(143, 176, 255, 1);
    border: none;
    border-radius: 10px;
    color: rgba(228, 241, 254, 1);
    font-weight: bold;
    font-size: 20px;
}