{% block content %}
    <footer>
        <div id="footerbody">
            <div class="information">
                <div  class="contact">
                    <p class="rubric">Контакты:</p>
                    <p class="simpl_text">32063, г. Ульяновск, ул.Энгельса, 3
                        (учебный корпус № 1), каб. 119</p>
                    <a href="mailto:kei@ido.ulstu.ru" target="_blank" title="Наша почта"><p>kei@ido.ulstu.ru</p></a>
                    <p class="rubric">Телефоны:</p>
                    <p class="simpl_text">приёмной КЭИ: 41-80-92</p>
                    <p class="simpl_text">по воспитательной работе: 77-88-13</p>
                    <p class="simpl_text">по учебной работе: 77-88-59</p>
                    <p class="simpl_text">по практикам обучающихся: 77-88-39</p>
                    <p class="simpl_text">по финансовым вопросам: 77-88-21</p>
                </div>
                <div  class="contact">
                    <p class="rubric">Режим работы:</p>
                    <p class="simpl_text">Пн-Чт: 8:30 - 17:20</p>
                    <p class="simpl_text">Пятница: 8:30 - 16:22</p>
                    <p class="simpl_text">Обед: 13:00 - 13:40</p>
                </div>
                <div  class="contact">
                    <p class="rubric">Мы в соцсетях:</p>
                    <a href="https://vk.com/kei_ulstu" target="_blank" title="Мы во ВКонтакте"><p>ВКонтакте</p></a>
                    <a href="https://t.me/keiulgtu" target="_blank" title="Мы в Telegram"><p>Telegram</p></a>
                </div>
            </div>
            <hr class="footerline">
            <div class="prava">
                <p class="prava_text">2023 Колледж экономики и информатики им. А.Н. Афанасьева</p>
                <p class="prava_text">Все права защищены</p>
            </div>
        </div>
    </footer>
{% endblock %}