{% extends "wrapper.html" %}

{% block content %}
    <div class="main_body">
        <div>
            <img id="logo_image"
                 src="/static/img/logo_kei.png"
                 alt="Колледж экономики и информатики им. А.Н. Афанасьева Ульяновского государственного технического университета">
        </div>

        <h1 class="site_block_title">Главные новости</h1>
        <hr class="main_news_line">

        {% for post in object_list %}
            <a href="{{post.id}}">
                <div class="post_conteiner">
                    <h5 class="post_title">{{post.news_title}}</h5>
                    <div class="post_inform">
                        <h6 class="post_author">{{post.news_author}}</h6>
                        <h6 class="post_date">{{post.news_date|date:"d-m-Y"}}</h6>
                    </div>
                </div>
            </a>
        {% endfor %}

        <hr class="main_news_line">
        <h1 class="site_block_title">Хотите предложить новость?</h1>
        <a href="/supply-news">
            <div id="form_title_fill" class="form_title">
                Предложить новость
            </div>
        </a>
    </div>
{% endblock %}