{% extends "wrapper.html" %}

{% block content %}
    <div class="main_body">
        <a href="/"><div class="back_title">Назад</div></a>
        <div class="post_page_container">
            <h2 class="post_page_title">{{news.news_title}}</h2>
            <h6 class="post_page_date">Опубликовано: {{news.news_date|date:"d-m-Y в H:i:s"}}</h6>
            <div class="post_page_post">{{news.news_post|safe|linebreaks}}</div>
            <h5 class="post_page_author">{{news.news_author}}</h5>
        </div>
    </div>
{% endblock %}
